// =========================| Components: Author |========================= //



.author {

  //--------------------------| Base

  @extend %ph-box;
  @extend %ph-showover;

  left: 90px;
  width: $icon-size;
  height: $icon-size;


  //--------------------------| Stage

  .stage {
    width: 400px;

    .txt {
      .mCSB_container { // sass-lint:disable-line class-name-format
        padding: 10px 30px 10px 20px;
      }
    }

    .signature {
      padding-right: 5px;
      font-size: .8em;
      font-style: italic;
      text-align: right;
    }
  }


  //--------------------------| Controller

  .input-controller span {
    background-image: url(data-uri('src/data-uri/images/icon-profile.svg'));
  }


} // .author
