// =========================| Components: Music box |========================= //



.music-box {

  //--------------------------| Controller

  .controller {
    @extend %ph-showover;

    $bgr: #3a3838;

    position: absolute;
    bottom: 10px;
    left: 170px;
    z-index: 2;

    &:link {
      background-color: $bgr;
    }

    &[data-state='play'] {
      span {
        background-image: url(data-uri('src/data-uri/images/icon-volume-on.svg'));
      }
    }

    &[data-state='pause'] {
      span {
        background-image: url(data-uri('src/data-uri/images/icon-volume-off.svg'));
      }
    }
  }


} // .music-box
