// =========================| Description box |========================= //



.po-description-box {

  //--------------------------| Base

  @include border-radius(5px);
  @include box-shadow($box-shadow);
  @include display-flex();
  @include flex-direction(column);

  position: absolute;
  right: $offset-main;
  bottom: 50px;
  z-index: 2;
  width: calc(100% - #{$offset-main * 2});
  overflow: hidden;
  text-align: center;
  background-color: $bgr-popover;

  .pm-text p {
    text-align: left;
  }


  //--------------------------| Button

  .pa-button {
    display: inline-block;
    margin: 0 10px;
  }


  //--------------------------| Breakpoints

  @media screen and (min-width: $breakpoint-desktop) {
    @include transition(right $transition-speed linear);

    bottom: 80px;

    &[data-loaded='false'] {
      right: -#{$description-box-width + $offset-main + 10};
    }
  }

  @media screen and (min-width: $breakpoint-phone) {
    width: $description-box-width;

    .pa-button {
      display: block;
      margin: 0 auto;
    }
  }


} // .po-description-box
