//====================================================|
// ORGANISMS: DESCRIPTION BOX


//--------------------------| Root

.root {
  position: absolute;
  right: $offset-main;
  bottom: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$offset-main * 2});
  overflow: hidden;
  text-align: center;
  background-color: $bgr-popover;
  border-radius: 5px;
  box-shadow: $box-shadow;
}


//--------------------------| Text

.text p {
  margin-top: 0;
  text-align: left;
}


//--------------------------| Button

.root .button {
  display: inline-block;
  margin: 0 10px;
}


//--------------------------| Breakpoints

@media screen and (min-width: $breakpoint-desktop) {
  .root {
    bottom: 80px;
    transition: right $transition-speed linear;

    &[data-loaded='false'] {
      right: -#{$description-box-width + $offset-main + 10};
    }
  }
}

@media screen and (min-width: $breakpoint-phone) {
  .root {
    width: $description-box-width;
  }

  .root .button {
    display: block;
    margin: 0 auto;

    + .button {
      margin-top: 10px;
    }
  }
}

@include mq-mobile() {
  .root {
    display: none;
  }
}
