// =========================| Placeholders: Titles |========================= //



//--------------------------| Position

%ph-titles {
  @include translateX(-50%);

  position: absolute;
  left: 50%;
  z-index: 2;
  margin: 0;
  color: $col-white;
  text-align: center;
}
