//====================================================|
// PLACEHOLDERS: TITLES


//--------------------------| Position

%ph-titles {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin: 0;
  color: $col-white;
  text-align: center;
  transform: translateX(-50%);
}
