// =========================| Scaffoldings: App |========================= //



//--------------------------| Apps

html:not(.mobile) body {
  min-width: $breakpoint-base;
}


//--------------------------| Desktop app

//@media screen and (min-width: $breakpoint-base) {
//  //
//}


//--------------------------| Mobile app

html.mobile header {
  position: relative;
  z-index: 1;
  padding: 5px 0;
  background-color: rgba($col-black, .3);

  * {
    @include translateX(0);

    position: static;
  }
}

@media screen and (max-width: $breakpoint-base - 1) {
  body {
    min-width: 320px;
  }

  .ttl-app {
    span {
      display: none;
    }
  }

  #app-mobile {
    display: block;

    video {
      @include translate(-50%, -50%);

      position: fixed;
      top: 50%;
      left: 50%;
    }

    @media (orientation: landscape) {
      video {
        width: 100%;
        height: auto;
      }
    }

    @media (orientation: portrait) {
      video {
        width: auto;
        height: 100%;
      }
    }
  }
}
