// =========================| Scaffoldings: Links |========================= //



a,
.link {

  //--------------------------| Base

  @include transition(background $transition-speed linear);

  color: $col-cyan;
  cursor: pointer;


  //--------------------------| Hover

  &:hover {
    color: rgba($col-cyan, .7);
  }


}
