// =========================| System: Placeholders |========================= //



//--------------------------| Box

%ph-box {
  position: absolute;
  bottom: 10px;
  z-index: 3;
}


//--------------------------| Showover

%ph-showover {
  @include transition(all $transition-speed linear);

  opacity: 1; // TODO: Change opacity on demand

  body:hover & {
    opacity: 1;
  }
}
