// =========================| System: Variables |========================= //



//--------------------------| Colors

$col-black: #000;
$col-gray-dark: #333;
$col-gray-mid: #666;
$col-gray-light: #999;
$col-white: #fff;
$col-cyan: #1ca9d9;


//--------------------------| Dimensions

$icon-size: 30px;


//--------------------------| Backgrounds

$bgr-popover: $col-white;


//--------------------------| Breakpoints

$breakpoint-base: 1024px;


//--------------------------| Transitions

$transition-speed: .3s;


//--------------------------| Shadows

$box-shadow: 2px 0 10px -2px  rgba($col-black, .9);
