//====================================================|
// MOLECULES: TOOLBAR


//--------------------------| Root

.root {
  @include display-flex();

  position: absolute;
  bottom: $offset-main;
  left: 10px;
  z-index: 2;

  @media screen and (min-width: $breakpoint-desktop) {
    left: 50px;
  }

  @include mq-mobile() {
    display: none;
  }
}


//--------------------------| Icon

.icon-button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
