// =========================| Toolbar |========================= //



.pm-toolbar {

  //--------------------------| Base

  @include display-flex();

  position: absolute;
  bottom: $offset-main;
  left: 10px;
  z-index: 2;


  //--------------------------| Breakpoints

  @media screen and (min-width: $breakpoint-desktop) {
    left: 50px;
  }


  //--------------------------| Icon

  .pa-icon-button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }


} // .pm-toolbar
