//====================================================|
// APP


//--------------------------| Root

.root {
  //
}


//--------------------------| Head

.head {
  @include mq-below-desktop() {
    position: relative;
    z-index: 2;
    height: 74px;
    background-color: rgba($col-black, 0.66);
  }

  @include mq-tight-landscape() {
    display: none;
  }
}
