include includes/_head
include includes/_foot

doctype html

= '\n'

html(lang='en')
  +head(pkg.title)

  body(ontouchstart='')
    header
      label(for='nav-input')
        h1.ttl-app #{pkg.title}

      h2.ttl-sub Just Print It

    #app-desktop.app

      a.facebook(href='https://www.facebook.com/3DFractalArt/', target='_blank', title=pkg.title + ' on Facebook')
      a.email.controller-icon(href='mailto:i@peter.bg', title='Write me a note')
        span

    +foot
