//====================================================|
// MOLECULES: POPOVER


//--------------------------| Variables

$offset: 5px;


//--------------------------| Root

.root {
  position: absolute;
  top: 72px;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 122px);
  overflow: hidden;
  background-color: $bgr-popover;
  border-radius: 0 5px 5px 0;
  box-shadow: $box-shadow;
  transition: transform $transition-speed linear;
  transform: translateX(-120%);

  // States
  &[data-visible='true'] {
    transform: translateX(0%);
  }

  // Text
  .text {
    padding: 30px;
  }

  // X-button
  .x-button {
    position: absolute;
    top: $offset - 1;
    right: $offset;
  }

  // Title
  .ttl {
    padding: 8px $offset;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}

