// =========================| Commons: Buttons |========================= //



.btn {

  //--------------------------| Variables

  $bgr: darken($col-cyan, 20%);


  //--------------------------| Base

  @include transition(all .1s linear);
  @include border-radius(3px);

  display: flex;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &,
  &:hover {
    color: $col-white;
  }


  //--------------------------| Types

  &:not([class*='btn-type']) {
    background-color: $bgr;

    &:hover {
      background-color: lighten($bgr, 10%);
    }
  }

  &.btn-type-light {
    background-color: lighten($bgr, 20%);

    &:hover {
      background-color: lighten($bgr, 30%);
    }
  }


  //--------------------------| Use cases

  &.db + .btn.db {
    margin-top: 10px;
  }


} // .btn
