// =========================| Commons: Controller icons |========================= //



//--------------------------|

.controller-icon {
  @extend %ph-showover;

  @include border-radius(50%);
  @include transition(background $transition-speed linear);

  display: block;
  width: $icon-size;
  height: $icon-size;
  overflow: hidden;
  font-size: 0;
  text-align: center;

  &:hover {
    background-color: rgba($col-black, .75);
  }

  span {
    $size: 14px;

    display: inline-block;
    width: $size;
    height: $size;
    margin-top: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size auto;
  }
}
