// =========================| Commons: Text |========================= //



.txt {

  //--------------------------| Base

  height: calc(100% - 80px);
  padding: 10px;
  overflow: auto;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: $col-gray-dark;


  //--------------------------| Paragraphs

  p {
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  //--------------------------| Images

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }


} // .txt
