//====================================================|
// ATOMS: SLIDER ARROW


//--------------------------| Root

.root {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 13px;
  font-weight: 300;
  color: $col-white;
  text-transform: lowercase;
  cursor: pointer;
  transform: translateY(-50%);

  @media screen and (max-width: $breakpoint-desktop - 1) {
    top: 25px;
    transform: translateY(0);
  }

  @media screen and (orientation: landscape) and (max-height: 479px) {
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    position: relative;
    top: -1px;
    display: inline-block;
    width: $arrow-size;
    height: $arrow-size;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $arrow-size auto;
  }

  @media (hover: hover) {
    &:hover {
      color: $col-white;
      text-decoration: underline;
    }
  }
}
