//====================================================|
// ATOMS: TITLE


//--------------------------| Root

.root {
  @extend %ph-titles;

  top: 12px;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}


//--------------------------| Link

.link {
  color: $col-white;
  transition: border $transition-speed linear;

  &:hover {
    color: $col-white;
    border-bottom: 1px solid rgba($col-white, 0.3);
  }
}
