//====================================================|
// ATOMS: TITLE


//--------------------------| Root

.root {
  @extend %ph-titles;

  top: 12px;
  font-size: 20px;
  white-space: nowrap;
}


//--------------------------| Link

.link {
  @include transition(border $transition-speed linear);

  color: $col-white;

  &:hover {
    border-bottom: 1px solid rgba($col-white, 0.3);
  }
}
