//====================================================|
// SCAFFOLDINGS: LINKS


:global {

  a,
  .link {

    //--------------------------| Base

    @include transition(color $transition-speed linear);

    color: $col-cyan;
    cursor: pointer;


    //--------------------------| Hover

    &:hover {
      color: rgba($col-cyan, 0.7);
    }

  }

} // :global
