//====================================================|
// SCAFFOLDINGS: LINKS


:global {

  a,
  .link {

    //--------------------------| Base

    color: $col-cyan;
    cursor: pointer;
    transition: color $transition-speed linear;


    //--------------------------| Hover

    &:hover {
      color: rgba($col-cyan, 0.7);
    }

  }

} // :global
