//====================================================|
// ORGANISMS: SCENE


//--------------------------| Root

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &,
  > iframe {
    width: 100vw;
    height: 100vh;
  }
}


//--------------------------| Frame

.frame {
  display: block;
}


//--------------------------| Image

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);

  @media (min-aspect-ratio: 16/9) {
    width: 100%;
    height: auto;
  }
}
