//====================================================|
// ATOMS: SIGNATURE


.pa-signature {

  //--------------------------| Base

  @include user-select(none);

  padding-right: 5px;
  font-size: .8em;
  font-style: italic;
  text-align: right;


} // .pa-signature
