//====================================================|
// ATOMS: SIGNATURE


//--------------------------| Root

.root {
  padding-right: 5px;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  user-select: none;
}
