//====================================================|
// MODULES: AUTHOR


//--------------------------| Root

.root {
  @include mq-mobile() {
    display: none;
  }
}


//--------------------------| Popover

.popover {
  width: $app-min-width - 10px;

  @media screen and (min-width: $breakpoint-tablet) {
    width: $author-width;
  }
}

