//====================================================|
// ATOMS: BUTTON


//--------------------------| Variables

$bgr: darken($col-cyan, 20%);


//--------------------------| Root

.root {
  @include transition(all 0.1s linear);
  @include border-radius(3px);
  @include display-flex();

  max-width: 180px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $bgr;

  &,
  &:hover {
    color: $col-white;
  }

  &:hover {
    background-color: lighten($bgr, 10%);
  }
}


//--------------------------| Types

.root[data-type='light'] {
  background-color: lighten($bgr, 20%);

  &:hover {
    background-color: lighten($bgr, 30%);
  }
}
