// =========================| X-button |========================= //



.pa-x-button {

  //--------------------------| Base

  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  text-align: center;
  cursor: pointer;


} // .pa-x-button
