//====================================================|
// ATOMS: X-BUTTON


//--------------------------| Root

.root {
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  text-align: center;
  cursor: pointer;
}
