mixin head(title)
  head
    title #{title}

    = '\n'

    include head/_meta

    include head/_webapp

    include head/social/_google
    include head/social/_facebook
    include head/social/_twitter

    include head/_favicons

    include head/_styles

  = '\n'
