//====================================================|
// ORGANISMS: NAVIGATION


//--------------------------| Root

.root {
  width: $nav-width;
  user-select: none;

  @include mq-mobile() {
    display: none;
  }
}


//--------------------------| Models nav

.models-nav {
  flex: 1;
}


//--------------------------| Models list

.models-list {
  padding: 10px 0;
  margin: 0;
  overflow: auto;
  font-weight: 300;
  list-style: none;
}


//--------------------------| Model item

.model-item {
  position: relative;
}


//--------------------------| Link

.link {
  @util truncate;

  position: relative;
  display: block;
  padding: 5px 36px 5px 10px;
  line-height: 1.3;
  transition: background-color 0.1s linear;

  @media (hover: hover) {
    &:hover {
      color: darken($col-cyan, 20%);
      background-color: rgba($col-black, 0.05);
    }
  }

  &[data-selected='true'] {
    color: $col-gray-dark;
    pointer-events: none;
  }

  i {
    $size: 14px;

    position: absolute;
    top: 50%;
    right: 16px;
    width: $size;
    height: $size;
    cursor: help;
    content: '';
    background: url('../../../../assets/icons/icon-picture.svg') no-repeat center;
    background-size: $size auto;
    transform: translateY(-50%);
  }
}


//--------------------------| Popover

.popover {
  width: $nav-width;
  min-width: $nav-width;
}
