//====================================================|
// MOLECULES: TEXT


//--------------------------| Root

.root {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: $col-gray-dark;
  user-select: text;
}


//--------------------------| Paragraphs

.paragraph {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}


//--------------------------| Images

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  pointer-events: none;
  user-select: none;
}
